# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that Data Scientists use;
- List commonly used libraries used by Data Scientists
- List popular Data Science Tools;
- Provide examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow (Python)
2. NumPy (Python)
3. ggplot2 (R)
4. dplyr (R)

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| R Studio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Dias AKHMET